<app-title title="Control Flow" withShadow />

<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="bg-white rounded shadow p-10">
    <h2>if: {{showContent()}}</h2>

    <button class="p-2 text-white rounded bg-blue-500" (click)="toggleContent()">Click me</button>

    <hr class="mt-2">
    @if (showContent()) {
      "show"
    } @else { 098
      "hidden"
    }
  </div>
<div class="bg-white rounded shadow p-10">
    <h2>GRade</h2>
    <p>
    @switch (grade()) {
      @case ('A') { '> 90'}
      @case ('B') { '> 80'}
      @case ('C') { '> 60'}
      @default {'Reprobado'}
    }
  </p>
  </div>
  <div class="bg-white rounded shadow p-10">
    <h2>Framwworks</h2>
    <ul>
    @for (f of framework(); track i; let i = $index, first=$first, last = $last, even = $even, odd = $odd, count = $count) {
      <li [class]="{
        'bg-red-100': even && !first && !last,
        'bg-pink-100': odd && !first && !last,
        'bg-blue-100': first || last,
      }">
        {{i + 1}}/{{count}}-{{f}}
      </li>
    } @empty {
      <li>No hay framework agregados</li>
    }
  </ul>
  </div>

</section>

